<% correct = true if flash[:notice] == 'correct!' %>

<p class="flash <%= correct ? 'correct' : 'incorrect' %>"><%= flash[:notice] %></p>

<div class="container center">
  <div>
    <h3 class='question'><%= @question.html_safe %></h3>
    <%= form_with url: '/verdicts', method: 'post', class: 'answers-container' do |f| %>
      <% @answers.each do |answer| %>
        <%= f.submit answer.html_safe %>
      <% end %>
    <% end %>
    <p>Question num: <%= @question_num %></p>
  </div>
</div>
