<div class="container center">
  <% if flash[:notice] %>
    <p class="flash correct"><%= flash[:notice] %></p>
  <% end %>

  <% if flash[:alert] %>
    <div class='modal' data-controller='modal'>
      <div class='modal-content'>
        <span data-action='click->modal#close'>&times;</span>
        <div class='gif-container'>
          <%= image_tag 'gameover.gif' %>
        </div>
        <p>The correct answer was: <%= cookies[:correct_ans_for_prev_ques].html_safe %></p>
        <p>Your score: <%= cookies[:total_score] %></p>
        <%= form_with url: '/rankings', method: 'post', class: 'new_ranking' do |f| %>
          <%= f.text_field 'name', placeholder: 'Enter your name', required: true %>
          <%= f.button 'save', class: 'new_game_btn' %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div>
    <h3 class='question'><%= @question.html_safe %></h3>
    <%= form_with url: '/verdicts', method: 'post', class: 'answers-container' do |f| %>
      <% @answers.each do |answer| %>
        <% answer = answer.html_safe %>
        <%= f.button answer, class: 'answer_btn', name: 'commit', value: answer %>
      <% end %>
    <% end %>
    <p>Questions answered: <%= @questions_answered %></p>
  </div>
</div>
