<div class="container center">
  <% if flash[:notice] %>
    <p class="flash correct"><%= flash[:notice] %></p>
  <% end %>

  <div>
    <h3 class='question'><%= @question.html_safe %></h3>
    <%= form_with url: '/verdicts', method: 'post', class: 'answers-container' do |f| %>
      <% @answers.each do |answer| %>
        <%= f.submit answer.html_safe %>
      <% end %>
    <% end %>
    <p>Questions answered: <%= @questions_answered %></p>
  </div>
</div>
